
*{
    box-sizing:border-box;
}
htlm body{
    font-size: 14px;
}
body{
    margin: 0;
    line-height: 1.4;
}

.header{
    position:fixed;
    top:0;
    left:0;
    right:0;
    background-color: grey;
    padding: 20px;
    height: auto;
    color: #ffffff;
    z-index: 2;
}
.header img{
    width: 100%;
    height: auto;
}
.header-nav{
    margin-right: 10px;
    text-align: center;
    z-index: 3;
    float: right;

}
.header-nav a{
    margin: 0 10px;
    color: inherit;
    text-decoration: none;
}
.alignleft{
    float:left;
    margin-right: 15px;
}
.alignright{
    float:right;
    margin-right: 15px;
}
.header-nav a:hover{
    text-decoration: none;
}
.header-title{
    float:left;
    font-style: italic;
    text-transform: capitalize;
    z-index: 4;
}
.button{
    color: #ffffff;
    background:#5834cf;
    text-decoration: none;
    font-size: 20px;
    padding: 0.2em 0.5em;
}
span{

}
.main{
    background: lightgrey;
}
.footer{
    background: grey;
}
hr{
    clear:both;
}